<form [formGroup]="productForm">
    <div class="w-[45%] ml-5 mt-10">
        @if (this.isAdmin) {
            <h1><input class="w-full text-[35px]" formControlName="name"></h1>
        }
        @else{
            <p class="text-[35px]">{{ this.product.name }}</p>
        }
    </div>
    <div class="w-[25%] ml-5">
        <img [src]="productForm.value.image" alt="not found">
    </div>
    <input formControlName="price">
    <input formControlName="description">
    <input type="file" (change)="on_file_change($event)">
    <div formArrayName="characteristics">
        @if (isFirstProductOfCategory) {
            <p>ДОБАВЛЕНИЕ НОВЫХ ПОЛЕЙ</p>
            <button (click)="on_fields_create()">ДОБАВИТЬ НОВОЕ ПОЛЕ</button>
            <button (click)="remove_last_field()">УДАЛЕНИЕ ПОЛЯ</button>
        }
        <div *ngFor="let property of characteristics.controls; index as i">
            <div [formGroupName]="i">
                <input [value]="property.value.name" formControlName="name">
                <input [value]="property.value.value" formControlName="value">
            </div> 
        </div>
    </div>
    <div>
        <select (change)="on_category_change()" formControlName="category">
            
            
            <option *ngFor="let category of categories" 
            [ngValue]="category">
            {{
               category.name
            }}
            </option>                
        </select>
    </div>
    @if (isAdmin){
        <button [disabled]="!productForm.valid" (click)="confirm()">Send</button>
        @if (this.product) {
            <button (click)="delete_product()">Delete</button>
        }
    }
    

  </form>