<div class="w-full">
    <div class="w-full h-[220px] border-4">
        <div>
            <h1 style="margin-left: 10px;margin-top: 10px;margin-bottom: 10px;" class=" text-2xl font-bold">Ремонт кухни</h1>
            <hr>
        </div>
        <div>
            <div class="w-[95%]">
                <mat-list>
                    <mat-list-item>Item 1</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 2</mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item>Item 3</mat-list-item>
                </mat-list>
            </div>
            <div></div>
        </div>
        
    </div>
</div>
