<div class="w-full">
    <div class="w-full">
        <div *ngFor="let product of products" class="flex w-full h-[150px] border-4 mb-2">
            <div class="h-[89%] w-[150px] m-2"><img class="h-full w-full" src="{{'data:image/jpg;base64,' + product.image}}" alt="penis"></div>
            <div class="flex flex-col w-[70%]">
                <h2 class="w-full">{{ product.name }}</h2>
                <p class="w-full overflow-hidden break-words mr-3" name="" id="">{{ product.description }}</p>
            </div>
            <div class="overflow-y-scroll w-[30%] pl-5">
                <div>
                    <h2 style="margin-bottom: 1px;">{{ product.price }}</h2>
                    <p>Аксон<p>
                </div>
                <div>
                    <h2 style="margin-bottom: 1px;">399,90</h2>
                    <p>Petrovich<p>
                </div>
            </div>
            <button class="mt-[50px]" mat-icon-button (click)="on_product_open(product)"><mat-icon>search</mat-icon></button>
        </div>
    </div>
</div>
